.DS_Store
node_modules
/build
/build-base/*
/.svelte-kit
/package
.env
.env.*
*.bak
*/*.bak
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/work/*
/static/*
/data/*
!.gitignore
!*/.gitignore
/src/lib/siteData.js
*secret*.json
siteData.js